<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
  	<string>sms</string>
	<string>tel</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke kamera untuk mengambil foto profil dan melampirkan gambar dalam chat.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke pengenalan suara untuk mengubah ucapan Anda menjadi teks.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke mikrofon untuk fitur speech-to-text.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke galeri untuk memilih gambar dan mengirimkannya dalam chat.</string>
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke kamera untuk mengambil foto dan mengirimkannya dalam chat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke mikrofon untuk merekam video (opsional).</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dgul Ai</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>D'Gul AI</string>
	<key>CFBundleName</key>
	<string>dgul_ai</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
